html, body{
     height: 100%;
     width: 100%;
     margin: 0%;
     padding: 0%;
     background-color: black;
     display: flex;
     justify-content: center;
     align-items: center;
}

.Menu1,  .Menu2, .Menu3 {
     height: 100px;
     width: 100px;
     background-color: #c9ab04;
     outline: none;
     border: 0.8px solid lightcoral;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     cursor: pointer;
     margin: 10px;
}

.Line{
     display: block;
     width: 50px;
     height: 5px;
     background-color: #0f0f0b;
     margin: 4px;
     border-radius: 5px;
     opacity: 0.25s;
     transition: transform 0.5s;
}
/*Close Button*/
.Menu1.active  .Line:nth-child(1) {
     transform: translateY(13px) rotate(45deg);
}

.Menu1.active  .Line:nth-child(2) {
     opacity: 0;
}

.Menu1.active .Line:nth-child(3) {
     transform: translateY(-13px) rotate(-45deg);
}


/* Addition Button*/
.Menu2.active  .Line:nth-child(1) {
     transform: translateY(13px) rotate(90deg);
}

.Menu2.active  .Line:nth-child(2) {
     opacity: 0;
}

.Menu2.active  .Line:nth-child(3) {
     transform: translateY(-13px) ;
}

/*Substraction*/

.Menu3.active  .Line:nth-child(1) {
     transform: translateY(13px) ;
}

.Menu3.active  .Line:nth-child(2) {
     opacity: 0;
}

.Menu3.active  .Line:nth-child(3) {
     transform: translateY(-13px) ;
}
